DATABASE_URL="mysql://root:abcd1234@127.0.0.1:3306/database_name"

DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=password
DB_DATABASE=DATABASE_NAME

ALGORITHM=ALGORITHM_NAME
JWT_SECRET=Secret
JWT_EXPIRES_IN=Duration

PORT = 3000
